@import "../../assets/styles/variable.scss";
.seller_box{
  &.default_box{
    background-color:$main;
    color:$white;
  }
  .seller_box_number{
    color:$main;
  }
  background-color:$gray;
  box-shadow:$box_shadow;
  color:$dark;
  grid-template-columns: 10% 20% 25% 25% 20%;
  &.loading_box{
    grid-template-columns: 7.5% 17.5% 22.5% 22.5% 17.5%;
  }
}