@import "../../assets/styles/variable.scss";

.follow_us_contain {
  grid-template-columns: repeat(2, 1fr);

  @media (max-width:$md_size) {
    grid-template-columns: repeat(1, 1fr);

    .follow_us_text {
      justify-content: center !important;
    }

    .follow_us_image_box {
      order: -1;
      justify-content: center !important;

      img {
        width: 100%;
      }
    }
  }
}