@import "../../assets/styles/variable.scss";
.product_section_contain{
    .product{
        box-shadow:$box_shadow;
        grid-template-columns:repeat(2,1fr);
        background-color:$gray;
        height:400px;
        .product_image_box{
            width:100%;
            height:100%;
            position:relative;
            background-color:$white;
            overflow:hidden;
            img{
                position:absolute;
                height:100%;
                width:min-content;
            }
        }
    }
}