@import "../../assets/styles/variable.scss";

.purchase_box {
  &.default_box {
    background-color: $main;
    color: $white;
  }

  .purchase_box_number {
    color: $main;
  }

  background-color:$gray;
  box-shadow:$box_shadow;
  color:$dark;
  transition:$transition;
  grid-template-columns: 10% 30% 20% 20% 20%;

  &.loading_box {
    grid-template-columns: 7.5% 27.5% 17.5% 17.5% 17.5%;
  }

  &:not(.default_box):hover {
    transform: translateY(-5px);
    color: $main;
    cursor: pointer;
  }

  @media (max-width:$md_size) {
    grid-template-columns: 10% 35% 20% 20% 15%;
  }

  @media (max-width:$sm_size) {
    grid-template-columns: 12% 35% 25% 28%;
  }
}




.confirmed_purchase_details {
  .confirmed_purchase_details_box {
    grid-template-columns: repeat(2, 1fr);

    .data_box {
      background-color: $gray;
      box-shadow: $box_shadow;
    }
  }

  .confirmed_purchase_details_product_box {
    grid-template-columns: repeat(2, 1fr);
    box-shadow: $box_shadow;
    background-color: $gray;

    .data_box_image_box {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  @media (max-width:$md_size) {
    .confirmed_purchase_details_product_box {
      grid-template-columns: repeat(1, 1fr);

      .data_box_image_box {
        width: 100%;

        img {
          width: 200px;
          height: auto;
        }
      }
    }
  }

  @media (max-width:$sm_size) {
    .confirmed_purchase_details_box {
      grid-template-columns: repeat(1, 1fr);
    }

    .confirmed_purchase_details_product_box {

      .data_box_image_box {

        img {
          width: 150px;
        }
      }
    }
  }
}