@import "../../assets/styles/variable.scss";
.logo{
    width:min-content;
    img{
        width:80px;
        height:80px;
        border-radius:50%;
    }
    @media(max-width:$lg_size){
        img{
            width:75px;
            height:75px;
        }
    }

    @media(max-width:$md_size){
        img{
            width:70px;
            height:70px;
        }
    }

    @media(max-width:$sm_size){
        img{
            width:65px;
            height:65px;
        }
    }

    @media(max-width:$xs_size){
        img{
            width:60px;
            height:60px;
        }
    }
}