@import "../../assets/styles/variable.scss";

.profile {
    width: 100%;

    .profile_box {
        border: 2px solid #ddd;

        .data_box {
            background-color: $gray;
            color: $dark;
            box-shadow: $box_shadow;
        }
    }
}