@import "../assets/styles/variable.scss";

.modal {
  background-color: $white;
  outline: none;
  overflow: auto;
  max-height: 90vh;
  max-width: 90vw;

  &.edit_profile,
  &.edit_user_product {
    min-width: 60vw;
  }

  &.view_avatar {
    .avatar_box {
      height: 100%;
      width: 100%;

      img {
        height: auto;
        width: 100%;
      }
    }
  }

  &.dashboard_option {
    width: 75vw;
  }

  &.delete {
    width: 50vw;
  }

  @media (max-width:$lg_size) {
    &.change_avatar {
      width: 50vw;
    }

    &.delete {
      width: 60vw;
    }

    &.dashboard_option {
      width: 80vw;
    }

    &.view_avatar {
      width: 70vw;

      .avatar_box {
        height: 100%;
        width: 100%;
      }
    }

    &.edit_profile,
    &.edit_user_product {
      min-width: 70vw;
    }
  }

  @media (max-width:$md_size) {
    &.change_avatar {
      width: 60vw;
    }

    &.delete {
      width: 70vw;
    }

    &.dashboard_option {
      width: 85vw;
    }

    &.view_avatar {
      width: 80vw;

      .avatar_box {
        height: 100%;
        width: 100%;
      }
    }

    &.edit_profile,
    &.edit_user_product {
      min-width: 80vw;
    }
  }

  @media (max-width:$sm_size) {
    &.change_avatar {
      width: 80vw;
    }

    &.delete {
      width: 80vw;
    }

    &.dashboard_option {
      width: 90vw;
    }

    &.view_avatar {
      width: 90vw;

      .avatar_box {
        height: 100%;
        width: 100%;
      }
    }

    &.edit_profile,
    &.edit_user_product {
      min-width: 90vw;
    }
  }

  @media (max-width:$xs_size) {
    &.delete {
      width: 90vw;
    }
  }
}