@import "../../assets/styles/variable.scss";
.dashboard_options_box{
  .tabs{
    & div{
      display:flex;
      flex-wrap:wrap;
      justify-content:stretch;
      align-items:center;
      gap:20px;
    }
  }
}